window {
  background: transparent;
}

.chats {
  padding: 1rem;
}

.label {
  background: #ffffff;
  color: #1e2224;
  padding:  .9rem 1rem;
  margin-top: 1em;
  border-radius: 1rem;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );
}
