@import "./colors.scss";

window {
  background: transparent;
}

.keystrokes {
  // background: $bg;
  padding: 1rem;
  color: $fg;
  // font-size: 1.3rem;
  border-radius: 1rem;
}

.keystrokes button {
  border-radius: 10rem;
}

.keybox {
  margin-top: 1rem;
}

.keybox .label {
 border: 2px solid #6f737b;
 color: #6f737b;
 border-radius: .5rem;
 padding: 0.5rem 0.8rem;
}


.toggler {
  background: #61afef;
  color: $bg;
}
